.badge {
  border-radius: @component-border-radius;
  background-color: @background-color-highlight;
}asdf

.badge.badge-info,
.badge.badge-success,
.badge.badge-warning,
.badge.badge-error {
  color: @oc-gray-7;
}
