.input-checkbox,
.input-radio,
.input-toggle {
  background-color: @input-background-color;

  &:active {
    background-color: @input-background-color-active;
  }

  &:checked {
    background-color: @primary-color;

    &:active {
      background-color: @input-background-color-active;
    }
  }

  &::before,
  &::after {
    background-color: @input-background-color-none;
  }
}

.input-range {
  background-color: @input-background-color;

  &::-webkit-slider-thumb {
    background-color: @primary-color;
  }
}
