// Tooltips

.tooltip {
  .tooltip-inner {
    background-color: @primary-color;
    line-height: 1;
    padding: 0.75em;
    white-space: nowrap;
    max-width: none;
    color: @base-background-color;
  }

  &.top .tooltip-arrow {
    border-top-color: @tooltip-arrow-color;
  }

  &.right .tooltip-arrow {
    border-right-color: @tooltip-arrow-color;
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: @tooltip-arrow-color;
  }

  &.left .tooltip-arrow {
    border-left-color: @tooltip-arrow-color;
  }

  .keystroke {
    padding: 0.15em 0.4em;
    margin: 0 -0.3em 0 0.25em;
    color: @base-background-color;
    background-color: @text-color-dim;
    border-radius: @component-border-radius;
  }
}
