// Tree View

.atom-dock-resize-handle-resizable {
  border-right: 1px solid @background-color-default;
}

atom-pane-resize-handle.vertical {
  &::before {
    border-top: 1px solid @background-color-default;
  }
}

.tree-view {
  color: @text-color;
  background-color: @tree-view-background-color;

  .list-item.selected {
    color: @text-color-selected;

    &::before {
      background-color: @background-color-default;
      border-radius: @component-border-radius;
    }
  }
}

.tree-view .entry.directory.status-modified > .header,
.tree-view .entry.file.status-modified {
  color: @text-color;
  font-weight: bold;
}

.tree-view .entry.directory.status-added > .header,
.tree-view .entry.file.status-added {
  color: @text-color;
  text-decoration: underline dotted @underline-color;
  font-weight: 500;
}

.tree-view .entry.directory.status-renamed > .header,
.tree-view .entry.file.status-renamed {
  color: @text-color-info;
}

.tree-view .entry.directory.status-removed > .header,
.tree-view .entry.file.status-removed {
  color: @text-color-error;
}

.tree-view .entry.directory.status-ignored > .header,
.tree-view .entry.file.status-ignored {
  color: @text-color-ignored;
}

.list-tree > li:not(.status-modified):not(.status-ignored):not(.status-removed):not(.status-renamed):not(.status-added) {
  color: @text-color-subtle;
}
